@model CategoryListViewModel

<h2>Category List</h2>
<div class="list-group">
    <a href="/product/index?category=0"class="list-group-item">Tüm Kategoriler</a>
    @foreach(var category in Model.Categories)
    {
        <a href="/product/index?category=@category.CategoryId" class="list-group-item">@category.CategoryName</a>
    }
</div>